.visualizations {
  display: flex;
  justify-content: center;
}

.graph-viz,
.treemap-viz {
  margin: 10px;
}
.filter-legends {
	display: flex;
	width: 1600px;
	justify-content: space-around;
}
.treemap-legend, .graph-filters{
  width: 800px;
  height: 50px;
}
