<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/components.css">
  <title>Components</title>
</head>
<body>
  <!-- Logo -->
  <img src="./images/LoL_Logo_Rendered_Large/LoL_Logo_Rendered_LARGE.png" alt="Logo Rendered" height="40px">

  <!-- Logo White SVG -->
  <img src="./images/LoL_Logo_Black_White/LoL_Logo_Flat_WHITE.svg" alt="Logo White SVG" height="40px">

  <!-- Logo Black SVG -->
  <img src="./images/LoL_Logo_Black_White/LoL_Logo_Flat_BLACK.svg" alt="Logo Black SVG" height="40px">

  <!-- Icon -->
  <img src="./images/LoL_Icon_Rendered/LoL_Icon_Rendered_Hi-Res.png" alt="Icon Rendered" height="30px">

  <!-- Icon Gold SVG -->
  <img src="./images/LoL_Icon_Flat_Gold/LoL_Icon_Flat_GOLD.svg" alt="Logo Gold SVG" height="30px">

  <!-- Icon White SVG -->
  <img src="./images/LoL_Icon_Flat_Black_White/LoL_Icon_Flat_WHITE.svg" alt="Logo White SVG" height="30px">

  <!-- Icon Black SVG -->
  <img src="./images/LoL_Icon_Flat_Black_White/LoL_Icon_Flat_BLACK.svg" alt="Logo Black SVG" height="30px">

  
  <br>

  <!-- Slider -->
  <input type="range" min="0" max="60" step="0.1" value="30" id="slider-1">

  <br>

  <!-- Select -->
  <select name="select-1" id="select-1">
    <option value="" disabled="disabled" selected="true">Choose Option</option>
    <option value="">Choose Option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>

  <br>

  <!-- Button -->
  <button>Button</button>
  
  <!-- Texts -->
  <h1>Lorem Ipsum</h1>
  <h2>Lorem Ipsum</h2>
  <h3>Lorem Ipsum</h3>
  <h4>Lorem Ipsum</h4>
  <h5>Lorem Ipsum</h5>

  <p>Lorem ipsum dolor amilet we love dogs and cats</p>

</body>
</html>